<div class="text-center login-header">
    <h1 class="login-title">About</h1>
    <img src="/assets/images/RoomRez.png" alt="Logo" class="login-logo">
  </div>
  
  <div class="container login-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
          <h2>About RoomRez</h2>
          <h3>Welcome to RoomRez, your ultimate destination for hassle-free room booking!</h3>
          <p>At RoomRez, we strive to provide you with the best experience when it comes to booking accommodations for your travels. Whether you're planning a vacation, a business trip, or a weekend getaway, RoomRez has got you covered.</p>
          <p>Our platform offers a wide range of rooms in various locations, ensuring that you find the perfect accommodation to suit your needs and preferences. From luxury suites to budget-friendly options, we have something for everyone.</p>
          <p>With RoomRez, booking a room is quick, easy, and secure. Our user-friendly interface allows you to search, compare, and book rooms with just a few clicks. Plus, our secure payment system ensures that your transactions are safe and reliable.</p>
          <p>Experience the convenience of RoomRez and make your next trip unforgettable!</p>
        

        </div>
    </div>
  </div>    