<div class="text-center register-header">
    <h1 class="register-title">Register</h1>
    <img src="/assets/images/RoomRez.png" alt="Logo" class="register-logo">
</div>
<div class="container register-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form [formGroup] = "registerForm" (ngSubmit)="onSubmit">
                <div class="form-group">
                    First Name:
                    <input type="text" formControlName="firstName"/>
                    @if(registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched)
                    {<div class = "text-danger">First Name is required</div>}
                    @if(registerForm.controls.firstName.errors?.['minlength'])
                    {<div class = "text-danger">First Name must be at least 2 characters!</div>}
                </div>
                <div class="form-group">
                    Last Name:
                    <input type="text" formControlName="lastName"/>
                    @if(registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched)
                    {<div class = "text-danger">Last Name is required</div>}
                    @if(registerForm.controls.lastName.errors?.['minlength'])
                    {<div class = "text-danger">Last Name must be at least 2 characters!</div>}
                </div>
                <div class="form-group">
                    Email Address:
                    <input type="email" formControlName="email"/>
                    @if(registerForm.get('email')?.invalid && registerForm.get('email')?.touched)
                    {<div class = "text-danger">Email is required</div>}
                </div>
                <div class="form-group">
                    Password:
                    <input type="password" formControlName="password"/>
                    @if(registerForm.get('password')?.invalid && registerForm.get('password')?.touched)
                    {<div class = "text-danger">Password is required</div>}
                    @if(registerForm.controls.password.errors?.['minlength'])
                    {<div class = "text-danger">Password must be at least 6 characters!</div>}
                </div>
                <div class="form-group">
                    Confirm Password:
                    <input type="password" formControlName="confirmPassword"/>
                    @if(registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched)
                    {<div class = "text-danger">Confirm Password is required</div>}
                    @if(registerForm.controls.confirmPassword.errors?.['MustMatch'] && registerForm.get('confirmPassword')?.touched)
                    {<div class = "text-danger">Passwords must match!</div>}
                </div>
                <div class="form-group">
                    <input type="Submit" value="Register" [disabled]="!registerForm.valid" />
                </div>
                <div class="form-group">
                    Already have an account?&nbsp;
                    <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>