<div class="text-center login-header">
  <h1 class="login-title">Room List</h1>
  <img src="/assets/images/RoomRez.png" alt="Logo" class="login-logo">
</div>

<div class="container rooms-container">
  <div class="row justify-content-center">
      <div class="col-md-6">
    <div class="room">
      <img src="https://via.placeholder.com/150" alt="Room Image">
      <h3>Room 101</h3>
      <p>Cozy and comfortable single room with a stunning view.</p>
    </div>
    <div class="room">
      <img src="https://via.placeholder.com/150" alt="Room Image">
      <h3>Room 202</h3>
      <p>Spacious double room with modern amenities for a relaxing stay.</p>
    </div>
    <div class="room">
      <img src="https://via.placeholder.com/150" alt="Room Image">
      <h3>Room 303</h3>
      <p>Luxurious suite with a private balcony and panoramic sea views.</p>
    </div>
    <!-- Add more rooms as needed -->
  </div>
  </div>
</div>


<!-- <div class="container login-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
                <div class="form-group">
                Email Address:
                <input type="email" ngModel name="email" #email="ngModel" required />
                @if(email.invalid && email.touched){<div class = "text-danger">Email is required</div>} 
            </div>
            <div class="form-group">
                Password:
                <input type="password" ngModel name="password" #password="ngModel" required />
                @if(password.invalid && password.touched){<div class = "text-danger">Password is required</div>}
            </div>
            <div class="form-group">
                <input type="Submit" value="Login" [disabled]="!myForm.form.valid" />
            </div>
            <div class="form-group">
                Don't have an account?&nbsp;
                <a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Register</a>
            </div>
            </form>
        </div>
    </div>
</div> -->
