<div class="text-center login-header">
  <h1 class="login-title">Room List</h1>
  <img src="/assets/images/RoomRez.png" alt="Logo" class="login-logo">
</div>

<div class="container2 rooms-container">
  <div class="row justify-content-center">
      <div class="col-md-6">
        <!-- <button (click)="addnewRoom()">Add Room</button>
<button (click)="updatetheRoom()">Update Room</button>
<button (click)="deletetheRoom()">delete Room</button> -->
<h2 class="login-title">Initialize to view room</h2>
<br />
<div class="search-room">
  Search <input [(ngModel)]="search" /> <br>
 {{ search }}
</div>

<div *ngIf="!isHidden">
  <div *ngFor="let r of rooms; trackBy: trackByRoomID">
    <div *ngIf="search === '' || r.roomName.toLowerCase().includes(search.toLowerCase()) || r.roomLocation.toLowerCase().includes(search.toLowerCase())">
      <div class="room-details">
        <p> <img src="/assets{{ r.imageURL }}" alt="Room Image" class="room-image"></p>
        <p><span class="label">Name:</span> <span class="value">{{ r.roomName }}</span> |
        <span class="label">Location:</span> <span class="value">{{ r.roomLocation }}</span> |
        <span class="label">Price:</span> <span class="value">{{ r.roomPrice }}</span></p>
        <p><span class="label">CheckIn:</span> <span class="value">{{ r.roomCheckIn | date }}</span> |
        <span class="label">CheckOut:</span> <span class="value">{{ r.roomCheckOut | date }}</span></p>
        <p><span class="label">Rating:</span> <span class="value">{{ r.roomRating }}</span></p>
      </div>
      

      <hr />
    </div>
  </div>
</div>
  </div>
  </div>
</div>

